* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}
  
html {
    font-size: 13px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI Variable","Segoe UI",system-ui,ui-sans-serif,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    line-height: 1.75;
    background-color: #22272e;
    color: #adbac7;
    -webkit-font-smoothing: antialiased;
}
  
body {
    width: 720px;
    margin: 0 auto;
    padding: 6rem 3rem 3rem;
    padding-bottom: 0;
}

.credit {
    color: #bbbbbb;
    text-align: right;
    font-size: 110%;
    margin-top: 5px;
}

.credit a {
    color: #316dca;
    text-decoration: none;
    font-weight: 700;
}

.crypto__list {
    width: 100%;
    max-width: 100%;
    background-color: #22272e;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #282f38;
    border-radius: 10px;
}

.crypto__list th,
.crypto__list td {
    padding: 10px 20px;
    border: 1px solid #282f38;
}

.crypto__list tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.crypto__list tr:last-child th:last-child {
    border-top-right-radius: 10px;
}

.crypto__list tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.crypto__list tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.crypto__list td {
    color: #adbac7;
}

.crypto__list--header {
    font-weight: 700;
}

.crypto__list--header,
.crypto__list {
    text-align: left;
}